__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.DS_Store
*.pt
*.pth
*.npz
logs/*
!logs/readme.md
checkpoints/*
!checkpoints/.gitkeep
logs/figures/
*.png
.ipynb_checkpoints/
/scripts